.container {
  padding: 5%;
  background: #aaa;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}

.form {
  max-width: 288px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.form input,
.form select,
.form button {
  font-family: inherit;
  font-size: 100%;
}

.field {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.form button {
  padding: 5px;
}
